name: nectarchain
channels:
  - default
  - conda-forge
dependencies:
  - python=3.11
  - ctapipe=0.19
  - ctapipe-io-nectarcam
  - jinja2=3.0.1
  - jupyterlab
  - jupytext
  - pre-commit
  - pytest-runner
  - pip
  - pandas
  - scipy=1.11.4
  - sphinx
  - sphinx-automodapi
  - pydata-sphinx-theme
  - lmfit # needed into TRR
  - h5py # needed into TRR (should be removed to use I/O methods of containers)
  - pyqt # [linux]
  - pip:
    - zeo
    - zodb
    - mechanize
    - browser-cookie3
    - pyqtgraph
    - pyqt6 # [osx and arm64]
