name: nectarchain
channels:
  - default
  - conda-forge
dependencies:
  - python=3.11
<<<<<<< ctapipe-0.24-bis
  - ctapipe=0.24
  - ctapipe-io-nectarcam>0.1
  - jinja2
=======
  - ctapipe=0.19
  - ctapipe-io-nectarcam=0.1
  - jinja2=3.0.1
>>>>>>> main
  - jupyterlab
  - jupytext
  - pre-commit
  - pytest-runner
  - pip
  - pandas
  - scipy
  - sphinx
  - sphinx-automodapi
  - pydata-sphinx-theme
  - lmfit # needed into TRR
  - h5py # needed into TRR (should be removed to use I/O methods of containers)
  - pyqt
  - protozfits
  - pip:
    - zeo
    - zodb
    - mechanize
    - browser-cookie3
    - pyqtgraph
    - sphinx-qt-documentation
