name: Deploy to PyPI

on:
  push:
    tags:
      - 'v*'

jobs:
  deploy-pypi:
    runs-on: ubuntu-latest
    # Specifying a GitHub environment is optional, but strongly encouraged
    environment: pypi
    permissions:
      # IMPORTANT: this permission is mandatory for Trusted Publishing
      id-token: write
    steps:
      - uses: actions/checkout@v6

      # make sure we have version info
      - run: git fetch --tags

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python --version
          pip install -U build
          python -m build
      
      - name: Publish package
        uses: pypa/gh-action-pypi-publish@release/v1
